{{ with .Site.GetPage "banner/banner.md"}}
<div class="container-fluid banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-7 col-sm-6 banner-column">
                <p class="banner-left">{{.Params.leftText}}</p>
            </div>
            <div class="col-xs-5 col-sm-6 banner-column text-right">
                <a class="banner-cta" href="https://tardigrade.io">
                    <p class="banner-cta-text">{{.Params.rightText}}</p>
                    <img src="/img/tardigrade-logo-only.svg" /><i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{{end}}
