<div class="first-post">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="{{ .Params.image }}" class="" alt="...">
			</div>
			<div class="col-md-6">
				<div class="card-body">
					<a class="card-title-link" href="{{ .RelPermalink }}"><h5 class="card-title">{{ .Title | markdownify }}</h5></a>
					{{ partial "post-date" . }}
					{{ if gt (len .Summary) 300 }}
			    <p class="card-text">{{slicestr .Summary 0 300}}...</p>
					{{end}}
			    <button href="{{ .RelPermalink }}" class="card-cta">Read more</button>
			  </div>
			</div>
		</div>
	</div>
</div>
