{{ partial "banner" . }}
<nav class="navbar navbar-light navbar-expand-lg menu">
	<div class="container">
		<a href="/" class="navbar-brand">
			<img src="/blog/img/storj-logo.png" alt="Storj" class="logo">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
		<div class="collapse nav navbar-collapse justify-content-end" id="navbarNav">
	    <ul class="navbar-nav">
				{{range where .Site.Pages "Params.class" "navitem"}}
				<li class="navbar-list-item {{if eq .Params.active true}}active{{end}}"><a class="link-style" href="{{ .Params.link }}">{{ .Title }}</a></li>
				{{end}}
				<a class="nav-item-cta" href="/sign-up-node-operator/"><button class="btn btn-primary nav-join">Join the Waitlist</button></a></li>
	      <!-- <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li> -->
	    </ul>
	  </div>
	</div>
</nav>
