{{ partial "banner" . }}
<nav class="navbar navbar-expand-lg menu">
	<div class="container">
		<a href="/" class="navbar-brand">
			<img src="/img/storj-logo.png" alt="Storj" class="logo">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
		<div class="collapse nav navbar-collapse justify-content-end" id="navbarNav">
	    <ul class="navbar-nav">
				<li class="navbar-list-item"><a class="link-style" href="https://documentation.storj.io/">Docs</a></li>
				<li class="navbar-list-item"><a class="link-style" href="https://storj.io/community">Community</a></li>
				<li class="navbar-list-item"><a class="link-style" href="https://storj.io/partners">Partners</a></li>
				<li class="navbar-list-item active"><a class="link-style" href="https://storj.io/blog">Blog</a></li>
				<li class="navbar-list-item"><a class="link-style" href="https://support.storj.io/hc/en-us">Support</a></li>
				<a class="nav-item-cta" href="/sign-up-node-operator/"><button class="btn btn-primary nav-join">Join the Waitlist</button></a></li>
	    </ul>
	  </div>
	</div>
</nav>
