{{ $title := .title }}
{{ $url := .url }}
{{ $body := .body }}
<div class="single-post__social-share">
	<h4 class="single-post__social-share__heading">Share this Post</h4>
  <a href="http://twitter.com/share?url={{ $url }}&text={{ $title }}&via={{with .Site.Social.twitter }}{{ . }}{{ end }}" class="share-btn twitter" aria-label="share on Facebook">
		<img class="single-post__social-share__img" src="/img/share-twitter.svg" />
		Twitter
  </a>
  <a href="http://www.facebook.com/sharer.php?u={{ $url }}" class="share-btn facebook" aria-label="share on Twitter">
		<img class="single-post__social-share__img" src="/img/share-facebook.svg" />
		Facebook
  </a>
	<a href="http://reddit.com/share?url={{ $url }}&text={{ $title }}&via={{with .Site.Social.twitter }}{{ . }}{{ end }}" class="share-btn reddit" aria-label="share on Reddit">
		<img class="single-post__social-share__img" src="/img/share-reddit.svg" />
		Reddit
  </a>
  <a href="mailto:?subject=Check%20out%20{{ $title }}.&body={{ $body }}" class="share-btn email" aria-label="share on Email">
		<img class="single-post__social-share__img" src="/img/share-email.svg" />
		Email
  </a>
</div>
