{{ $taxonomy := .taxonomy }}
{{ $taxonomyname := .taxonomyname }}
{{ $currentPage := . }}
{{ with $taxonomy }}
	<div class="btn-group dropdown">
	  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{ if eq $taxonomyname "categories"}}<img src="/img/category-icon.svg" class="icon">{{else}}<img src="/img/author-icon.svg" class="icon">{{end}}
	    {{ if eq $taxonomyname "categories"}}{{trim $taxonomyname "ies"}}y: all{{else}}{{ trim $taxonomyname "s"}}: all{{end}}
			 <i class="fa fa-angle-down"></i>
	  </button>
	  <div class="dropdown-menu">
			{{ range $name, $value := . }}
				<a class="dropdown-item" href="{{ printf "/%s/" $taxonomyname | relLangURL }}{{ $name | urlize }}"><p >{{ humanize $name }}</p></a>
			{{ end }}
	  </div>
	</div>
{{ end }}
