{{ define "main" }}

{{ $lastUrlElement := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
{{ $filterUrlElement := index (split (delimit (split .URL "/") "," "") ",") 1 }}
{{ $resultName := delimit (split $lastUrlElement "-") " " " " }}

<div class="post-results">
	<div class="container">
		<div class="back-msg">
			<a class="back-msg__link" href="/blog">
				<i class="fa fa-angle-left"></i>
				<p class="back-msg__text">Storj Blog</p>
			</a>
		</div>
		<div class="post-results__heading">
	    {{ if $lastUrlElement }}
					<h4 class="post-results__heading__title">{{ $resultName }} ({{ len .Pages }})</h4>
					<div class="post-results__heading__title__filtering">
						{{ if eq $filterUrlElement "authors"}}
							{{ partial "taxonomy" (dict "taxonomy" .Site.Taxonomies.authors "taxonomyname" "authors" "lastUrlElement" $lastUrlElement "filter" $filterUrlElement  )}}
						{{ else }}
							{{ partial "taxonomy" (dict "taxonomy" .Site.Taxonomies.categories "taxonomyname" "categories" "lastUrlElement" $lastUrlElement "filter" $filterUrlElement   )}}
						{{ end }}
					</div>
	    {{ end }}
		</div>
		<div id="posts" class="row posts">
		 {{ range .Pages.ByPublishDate.Reverse }}
			 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 post-result">
					 {{ .Render "li"}}
			 </div>
			{{ end }}
	 </div>
	</div>
</div>

{{end}}
