{{ define "main" }}
	<div class="back-msg">
		<div class="container">
			<a class="back-msg__link" href="/">
				<i class="fa fa-angle-left"></i>
				<p class="back-msg__text">Storj Blog</p>
			</a>
		</div>
	</div>
  <div class="container single-post">
    <h1 class="single-post__title">{{.Title}}</h1>
		{{ if .Params.image }}<img src="{{ .Params.image }}" class="single-post__image" alt="{{ .Title }}" />{{ end }}
    <div class="row">
			{{ range .Params.authors }}
				<p class="single-post__text">By <a class="single-post__text__link" href="{{ "/authors/" | relLangURL }}{{ . | urlize }}">{{ . }}</a><p>
			{{ end }}
			<p class="single-post__text">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    </div>
    <div class="single-post__content">
      {{ .Content }}
    </div>
		<div id="disqus_thread">
			<script>
				(function() {
						var d = document, s = d.createElement('script');
								s.src = 'https://storjblog.disqus.com/embed.js';
								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
								})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>
  </div>
{{ end }}
