.banner-bg {
	height: 28px;
	background: #2582FF;
	color: #fff;
	font-family: $primary-font;
	font-weight: 500;
	font-size: 10px;
	.banner-column {
		margin-top: 7px;
	}
	.text-right {
		.banner-cta {
			color: #fff;
		}
	}
}

.navbar {
	.logo {
		height: 40px;
	}
	.navbar-list-item {
		margin: 8px 20px 0;
		.link-style {
			font-family: $primary-font;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			color: #93A1AF;
			display: inline-block;
			margin-top: 5px;
		}
	}
}
