.banner-bg {
	height: 28px;
	background: #D5DAE0;
	color: $color--dark-blue;
	font-family: $primary-font;
	font-weight: 500;
	font-size: 10px;
	.banner-column {
		margin-top: 7px;
	}
	.text-right {
		.banner-cta {
			color: $color--dark-blue;
			.fa {
				height: 10px;
				margin-left: 8px;
			}
			.banner-cta-text {
				display: inline-block;
				margin-right: 5px;
			}
			.banner-logo {
				height: 15px;
				position: relative;
				bottom: 1px;
			}
		}
	}
}

.navbar {
	background: #fff;
	.navbar-brand {
		margin-bottom: 23px;
	}
	.nav-sections {
		display: flex;
		.main-section {
			margin-right: 200px;
			@media only screen and (max-width: 1200px) {
				margin-right: 100px;
			}
		}
	}
	.navbar-list-item {
		margin: 2px 10px 0;
		.link-style {
			font-family: $primary-font;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			color: #93A1AF;
			display: inline-block;
			margin-top: 22px;
			box-shadow: none;
			&:hover {
				text-decoration: none;
				color: #93A1AF;
				text-shadow: 1px 0 0 #93A1AF;
			}
		}
		.support-link {
			position: relative;
			left: 17px;
		}
		.blog-link {
			position: relative;
			left: 52px;
			&:hover {
				text-decoration: none;
				color: #93A1AF;
				text-shadow: none;
			}
		}
		&.active {
			.link-style {
				font-weight: bold;
				color: $color--blue;
			}
		}
	}
	.nav-item-cta {
		.nav-join {
			font-family: $primary-font;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			color: $color--blue;
			border: 2px solid $color--blue;
			background: transparent;
			box-shadow: none;
			margin-top: 10px;
		}
	}
	.btn-group {
		position: relative;
		bottom: 10px;
		.dropdown-menu {
		  font-size: 16px;
		  width: 300px;
			@media only screen and (max-width: 991px) {
				margin: 0 auto;
				margin-bottom: 12px;
			}
		  .dropdown-divider {
		    width: 85%;
		    margin: 10px auto;
		  }
		  .link-pointer {
		    float: right;
		    position: relative;
		    top: 7px;
		    display: none
		  }
		  .dropdown-item {
		    font-family: $secondary-font;
		    &:hover {
		      color: $color--blue;
		      font-weight: bold;
					.link-pointer {
						display: block;
					}
		    }
			}
			.dropdown-header {
			 font-family: $primary-font;
			 color: #93A1AF;
			 font-weight: bold;
			 font-size: 16px;
			 &:hover {
				 color: #93A1AF;
			 }
		 }
	 }
	}
}
