.homepage-posts {
	margin-top: 100px;
}
.post-results{
	margin-bottom: 50px;
	&__heading {
		margin: 20px 0 30px;
		display: flex;
		justify-content: space-between;;
		&__title {
			font-family: $primary-font;
			font-weight: bold;
			font-size: 18px;
			text-transform: capitalize;
		}
	}
}
.card, .first-post {
	margin-bottom: 40px;
	border: none !important;
	.card-img-top {
		border-radius: 0;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		max-height: 200px;
	}
	.card-body {
		.blog-post-info {
			.row {
				justify-content: space-between;
				.blog-post-info-text {
					font-family: $secondary-font;
					font-weight: 300;
					font-size: 12px;
					line-height: 20px;
					color: $color--post-text;
					.blog-post-info-link {
						color: $color--blue;
						font-weight: bold;
					}
				}
				.blog-post-info-date {
					float: right;
				}
			}
		}
	}
	.card-title-link {
		&:hover {
			text-decoration: none;
		}
		.card-title {
			font-family: $primary-font;
			font-weight: bold;
			font-size: 16px;
			line-height: 26px;
			color: $color--post-text;
		}
	}
	.card-text {
		font-family: $secondary-font;
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		color: $color--post-text;
	}
	.read-more {
		font-family: $primary-font;
		font-weight: bold;
		font-size: 12px;
		line-height: 26px;
		display: inline-block;
		color: $color--blue;
	}
	.fa-angle-right {
		position: relative;
		left: 6px;
		top: 2px;
		font-size: 18px;
		color: $color--blue;
	}
}

.first-post {
	background: #fff;
	padding: 50px 0;
	.first-post-image {
		box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
	}
	.card-body {
		padding-top: 0;
		@media (max-width: 991px) {
			margin: 0;
			padding: 30px 0 0;
		}
		.card-cta {
			padding: 12px 100px;
			&:hover {
				text-decoration: none;
				color: #fff;
			}
			@media (max-width: 768px) {
				width: 100%;
				margin-top: 20px;
			}
		}
	}
	.card-title-link {
		&:hover {
			text-decoration: none;
		}
		.card-title {
			font-size: 34px;
			line-height: 40px;
		}
	}
}
.align-items-center {
	.load-more {
		@media (max-width: 768px) {
			width: 100%;
		}
	}
}
.load-more, .card-cta {
	width: 271px;
	height: 46px;
	color: #fff;
	background: $color--blue;
	border: none;
	font-family: $primary-font;
	font-weight: 800;
	font-size: 14px;
	line-height: 18px;
	border-radius: 6px;
	text-transform: capitalize;
	.fa {
		font-size: 20px;
		position: relative;left: 4px;
		top: 2px;
	}
}

.align-items-center {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0 80px;
}

.single-post {
	margin: 20px 0;
	margin-bottom: -15px;
	&__title {
		font-family: $primary-font;
		font-weight: bold;
		font-size: 34px;
		line-height: 40px;
		text-align: center;
		color: $color--post-text;
		margin-bottom: 35px;
		@media (max-width: 991px) {
			text-align: left;
		}
	}
	&__image {
		box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
	}
	.row {
		margin: 40px 0 15px;
		display: flex;
		justify-content: space-between;
	}
	&__text {
		font-family: $secondary-font;
		font-weight: 300;
		font-size: 12px;
		font-weight: 20px;
		color: #354049;
		&__link {
			font-weight: bold;
			color: $color--blue;
		}
	}
	&__content {
		font-family: $secondary-font;
		font-weight: 300;
		font-size: 18px;
		line-height: 31px;
		margin-bottom: 60px;
		p {
			max-width: none;
		}
		h4 {
			font-weight: bold;
			font-size: 18px;
			line-height: 31px;
		}
		a {
			color: $color--blue;
		}
	}
	&__social-share {
		margin-bottom: 40px;
		.share-btn {
			border: 1px solid #AFB7C1;
			box-sizing: border-box;
			border-radius: 6px;
			padding: 10px 15px;
			margin-right: 15px;
			font-family: $secondary-font;
			font-weight: normal;
			font-size: 16px;
			color: #494949;
		}
		&__heading {
			font-family: $primary-font;
			font-weight: bold;
			font-size: 16px;
			line-height: 26px;
			color: #000;
			margin-bottom: 20px;
		}
		&__img {
			margin-right: 10px;
		}
		.facebook {
			background: #3C5A99;
			color: #fff;
			border: none;
		}
	}
	&__more-posts {
		margin-top: 40px;
		background: rgba(197, 203, 219, 0.5);
		padding-top: 50px;
		padding-bottom: 80px;
		&__heading {
			font-family: $primary-font;
			font-weight: bold;
			font-size: 22px;
			line-height: 48px;
			color: #000;
		}
		&__post-wrapper {
			.blog-post-info {
				padding: 0;
				.row {
					margin: 0;
				}
			}
		}
	}
}

.back-msg {
	margin: 40px 0 auto;
	.container {
		@media (min-width: 1450px) {
			 max-width: 1300px;
		}
	}
	&__text {
		display: inline-block;
		color: #000;
		font-family: $primary-font;
		font-weight: 300;
		font-size: 18px;
	}
	.fa {
		margin-right: 15px;
		color: $color--blue;
		font-size: 27px;
		position: relative;
		top: 2px;
	}
	&__link {
		&:hover {
			text-decoration: none;
		}
	}
}
